@using MedicineHelper.Core.Enums
@model AddVaccinationModel

@{
    ViewData["Title"] = "Add vaccination";
}

<div>
    <h1>Add vaccination</h1>
    <form asp-controller="vaccination" asp-action="Add" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="visitdate" class="date">Visita date</label>
            <input asp-for="VisitDate" class="date" id="visitdate">
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">Cost $</label>
            <input asp-for="Cost" class="form-label" id="cost">
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status Type</label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<VaccinationStatusEnum>()" id="status">
                @*<option selected="selected" disabled="disabled">Select status</option>*@
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="Add">
    </form>
</div>
