@model VaccinationDto


<tbody>
    <tr>
        <td>@Html.DisplayFor(modelItem => Model.Name)</td>
        <td>@Html.DisplayFor(modelItem => Model.VisitDate)</td>
        <td>@Html.DisplayFor(modelItem => Model.Status)</td>
        <td>@Html.DisplayFor(modelItem => Model.Cost)</td>
        <td><a href="~/visits/CreateOrEdit">Edit</a></td>
    </tr>
