@using MedicineHelperApp.Models;
@model UserModel

@{
    ViewData["Title"] = "User";
    Layout = "_Layout";
}
<div>
    <h4 class ="text-center">User information</h4>
    @if (Model.AvatarByte?.Length != 0)
    {
        <div align="center" >
            <img style='width:100px; height:150px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.AvatarByte))" />
        </div>

        <div class="m-1">
            <a class="btn btn-primary" role="button" align="center" asp-controller="Home" asp-action="AddOrEditAvatar">Edit</a>
            <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteAvatar">Delete</a>
        </div>
    }
    else
    {
        <p>Avatar empty</p>
        <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="AddOrEditAvatar">Add</a>
    }
</div>

<form asp-controller="Home" asp-action="EditUserInfo" method="post">
    <div class="mb-3">
        <label for="LastName" class="form-label">Last name:</label>
        <input asp-for="LastName" type="text" class="form-control" id="LastName" value="@Model.LastName" />
    </div>
    <div class="mb-3">
        <label for="FirstName" class="form-label">Name:</label>
        <input asp-for="FirstName" type="text" class="form-control" id="FirstName" value="@Model.FirstName" />
    </div>
    <div class="mb-3">
        <label for="Birthday" class="form-label">Date of birthday:</label>
        <input asp-for="Birthday" type="date" class="form-control" id="Birthday" value="@Model.Birthday" />
    </div>

    <div>
        <input asp-for="Id" type="hidden" />
    </div>
    <input type="submit" class="btn btn-success" value="Edit" />
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Main menu</a>
    <a class="btn btn-danger" role="button" asp-controller="Account" asp-action="Exit">Logout</a>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
