@using MedicineHelperApp.Models;
@model MedicinePrescriptionModel

@{
    ViewData["Title"] = "Add medicine prescription";
    Layout = "_Layout";
}

<div>
    <h2 class="text-center">Add medicine prescription</h2>

    <form asp-controller="MedicinePrescription" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="MedicinesDto.Id" class="form-label">Medicine name:</label>
            <select asp-for="MedicinesDto.Id" asp-items="@Model.MedicineList"></select>
            <a class="btn btn-success" asp-controller="Medicine" asp-action="Create">Add medicine</a>
        </div>
        <div class="mb-3">
            <label for="StartOfAdmission" class="form-label">Start of admission:</label>
            <input asp-for="StartOfAdmission" type="datetime-local" class="form-control" id="StartOfAdmission" value="@DateTime.UtcNow" required />
            <span asp-validation-for="StartOfAdmission" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="EndOfAdmission" class="form-label">End of admission:</label>
            <input asp-for="EndOfAdmission" type="datetime-local" class="form-control" id="EndOfAdmission" value="@DateTime.UtcNow" not required />
        </div>
        <div class="mb-3">
            <label for="MedicineDose" class="form-label">Medicine dose:</label>
            <input asp-for="MedicineDose" type="text" id="MedicineDose" />
        </div>
        <div class="mb-3">
            <label for="MedicinePrice" class="form-label">Medicine price $:</label>
            <input asp-for="MedicinePrice" type="number" id="MedicinePrice" />
        </div>
        <div>
            <input asp-for="AppointmentId" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
        </div>
        <input type="submit" class="btn btn-success" value="Add" />
        <a class="btn btn-primary" role="button" asp-controller="MedicinePrescription" asp-action="Index">Back</a>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}