@model AppointmentModel

@{
    ViewData["Title"] = "Add or Edit notes";
    Layout = "_Layout";
}

<div>
    <h2 class="text-center">Add or edit notes</h2>

    <form asp-controller="DoctorVisit" asp-action="AddOrEditDescriptionAppointment" method="post">
        <div class="mb-3">
            <label for="DateVisit" class="form-label">Note:</label>
            <textarea asp-for="DescriptionOfDestination" class="form-control" id="DescriptionOfDestination" rows="3" required></textarea>
            <span asp-validation-for="DescriptionOfDestination" class="text-danger"></span>
        </div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="ReturnUrl" type="hidden" />
        <input type="submit" class="btn btn-success" value="Add" />
        <a class="btn btn-primary" role="button" asp-controller="DoctorVisit" asp-action="Index">Cancel</a>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
