@model DoctorVisitModel

@{
    ViewData["Title"] = "Add visit to doctor";
    Layout = "_Layout";
}

<div>
    <h2>Add visit</h2>

    <form asp-controller="DoctorVisit" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="DateVisit" class="form-label">Date of visit:</label>
            <input asp-for="DateVisit" type="date" class="form-control" asp-format="{0:yyyy-MM-dd}" id="DateVisit" required />
            <span asp-validation-for="DateVisit" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ClinicId" class="form-label">Clinic:</label>
            <select asp-for="ClinicId" asp-items="@Model.ClinicList"></select>
            <a asp-controller="MedicalInstitution" asp-action="Create">Add clinic</a>
        </div>
        <div class="mb-3">
            <label for="DoctorId" class="form-label">Doctor:</label>
            <select asp-for="DoctorId" asp-items="@Model.DoctorList"></select>
            <a asp-controller="DoctorVisit" asp-action="CreateDoctor">Add Doctor</a>
        </div>
        <div class="mb-3">
            <label for="PriceVisit" class="form-label">Visit price:</label>
            <input asp-for="PriceVisit" type="number" class="form-control" id="PriceVisit" required />
            <span asp-validation-for="PriceVisit" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary m-1" value="Add" />
        <a class="btn btn-primary m-1" role="button" asp-controller="DoctorVisit" asp-action="Index">Cancel</a>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
