@model RegisterModel

@{
    ViewData["Title"] = "Register";
}


<div>
    <h1>Register</h1>

    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="email" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="password-confirmation" class="form-label">Password Confirmation</label>
            <input type="password" asp-for="PasswordConfirmation" class="form-control" id="password-confirmation">
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Register">
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }