@model MedicineProcedureModel

@{
    ViewData["Title"] = "Add procedure";
    Layout = "_Layout";
}

<div>
    <h2>Add procedure</h2>

    <form asp-controller="MedicineProcedure" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="NameOfProcedure" class="form-label">Name of procedure:</label>
            <input asp-for="NameOfProcedure" type="text" class="form-control" id="NameOfProcedure" required />
            <span asp-validation-for="NameOfProcedure" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="StartProcedure" class="form-label">Start of procedure:</label>
            <input asp-for="StartProcedure" type="date" class="form-control" id="StartProcedure" required />
            <span asp-validation-for="StartProcedure" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="EndProcedure" class="form-label">End of procedure:</label>
            <input asp-for="EndProcedure" type="date" class="form-control" id="EndProcedure" notrequired />
            <span asp-validation-for="EndProcedure" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ClinicId" class="form-label">Clinic:</label>
            <select asp-for="ClinicId" asp-items="@Model.ClinicList"></select>
            <a asp-controller="Clinic" asp-action="Create">Add clinic</a>
        </div>
        <div>
            <input asp-for="AppointmentId" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
        </div>
        <input type="submit" class="btn btn-primary m-1" value="Add" />
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
