@using MedicineHelperApp.Models;
@model ConclusionModel

@{
    ViewData["Title"] = "Add visit to doctor";
    Layout = "_Layout";
}

<div>
    <h2 class="text-center">>Add visit</h2>

    <form asp-controller="Conclusion" asp-action="Create" method="post" width="100%">
        
        <div class="mb-3">
            <label for="NameOfConclusion" class="form-label">Name of conclusion:</label>
            <input asp-for="NameOfConclusion" type="text" class="form-control" id="NameOfConclusion" required />
        </div>
        <div class="mb-3">
            <label for="ClinicId" class="form-label">Clinic:</label>
            <select asp-for="ClinicId" asp-items="@Model.ClinicList"></select>
            <a class="btn btn-success" asp-controller="Clinic" asp-action="Create">Add clinic</a>
        </div>
        <div class="mb-3">
            <label for="DateOfConclusion" class="form-label">Date of conclusion:</label>
            <input asp-for="DateOfConclusion" type="date" class="form-control" asp-format="{0:yyyy-MM-dd}" id="DateOfConclusion" required />
            <span asp-validation-for="DateOfConclusion" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-success" value="Add" />
        <a class="btn btn-danger" asp-controller="Conclusion" asp-action="Index">Back</a>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
