@model FluorographyModel

@{
    ViewData["Title"] = "Add fluorography";
    Layout = "_Layout";
}

<div>
    <h2 class ="text-center">Add fluorography</h2>

    <form asp-controller="Fluorography" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="DataOfFluorography" class="form-label">Date of fluorography:</label>
            <input asp-for="DataOfFluorography" type="date" class="form-control" id="DataOfFluorography" value="@DateTime.UtcNow" required />
            <span asp-validation-for="DataOfFluorography" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="EndDateOfFluorography" class="form-label">Date of end of fluorography:</label>
            <input asp-for="EndDateOfFluorography" type="date" class="form-control" id="EndDateOfSurvey" value="@DateTime.UtcNow" required />
            <span asp-validation-for="EndDateOfFluorography" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="NumberFluorography" class="form-label">Number:</label>
            <input asp-for="NumberFluorography" type="text" class="form-control" id="NumberFluorography" required />
            <span asp-validation-for="NumberFluorography" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Result" class="form-check-label">Result:</label>
            <input asp-for="Result" type="radio" class="form-check-input" id="Result" value="true" required />
            <span asp-validation-for="Result">Positive</span>
            <input asp-for="Result" type="radio" checked="checked" class="form-check-input" id="Result" value="false" required />
            <span asp-validation-for="Result">Negative</span>
        </div>
        <div class="mb-3">
            <label for="ClinicId" class="form-label">Clinic:</label>
            <select asp-for="ClinicId" asp-items="@Model.ClinicList"></select>
            <a class="btn btn-success" asp-controller="Clinic" asp-action="Create">Add clinic</a>
        </div>

        <input type="submit" class="btn btn-success" value="Add fluorography" />
        <a class="btn btn-primary" role="button" asp-controller="Fluorography" asp-action="Index">Back</a>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
