@model IEnumerable<MedicineHelper.Core.DataTransferObjects.MedicineСheckupDto>

@{
    ViewData["Title"] = "Medicine checkup";
    Layout = "_layout";
}

<h2>Medicine checkup</h2>

<p>
    <a asp-action="Create">Add medicine checkup</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of medicine checkup
            </th>
            <th>
                Date of medicine checkup
            </th>
            <th>
                Price of medicine checkup
            </th>
            <th>
                Files of medicine checkup
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfMedicineСheckup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceOfMedicineСheckup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.FilesOfMedicineСheckup)
                </td>
            </tr>
        }
    </tbody>
</table>