@using MedicineHelperApp.Helpers
@model IEnumerable<VisitDto>

@{
    ViewData["Title"] = "View";
}

<h1 -align>    Visits</h1>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Visit Doctor</th>
                    <th scope="col">Visit Date</th>
                    <th scope="col">Visit Status</th>
                    <th scope="col">Cost $</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("VisitsList", item);
            }
        </table>

         <a asp-controller="Visit" asp-action="Add" class="btn btn-danger">Add visit</a>
    <br />
    <br />
        <nav aria-label="Page navigation" >
        <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                        </li>
                            @Html.GeneratePaginator(new int[]{1,2,3,4,5})
                        <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    
    }





