@model MedicineModel

@{
    ViewData["Title"] = "Add medicine";
    Layout = "_AdminLayout";
}

<div>
    <h2>Add new medicine</h2>

    <form asp-controller="Admin" asp-action="AddMedicine" method="post">
        <div class="mb-3">
            <label for="NameOfMedicine" class="form-label">Medicine name:</label>
            <input asp-for="NameOfMedicine" type="text" class="form-control" id="NameOfMedicine" required />
            <span asp-validation-for="NameOfMedicine" class="text-danger"></span>

            <label for="LinkToInstructions" class="form-label">Put linc to medicine:</label>
            <input asp-for="LinkToInstructions" type="text" class="form-control" id="LinkToInstructions" required />
            <span asp-validation-for="LinkToInstructions" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="ReturnUrl" type="hidden" />
        </div>
        <input type="submit" class="btn btn-primary m-1" value="Add medicine" />
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
