@model ClinicModel

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<div>
    <h4 class="text-center">Add new clinic</h4>
</div>
<form asp-controller="Admin" asp-action="AddClinic" method="post">
    <div class="mb-3">
        <label for="NameClinic" class="form-label">Clinic name:</label>
        <input asp-for="NameClinic" type="text" class="form-control" id="NameClinic" required />
        <span asp-validation-for="NameClinic" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Adress" class="form-label">Address:</label>
        <textarea asp-for="Adress" class="form-control" id="Adress" rows="2" required></textarea>
        <span asp-validation-for="Adress" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="OperatingMode" class="form-label">Operation mode:</label>
        <textarea asp-for="OperatingMode" class="form-control" id="OperatingMode" rows="1"></textarea>
    </div>
    <div class="mb-3">
        <label for="Contact" class="form-label">Contact:</label>
        <textarea asp-for="Contact" class="form-control" id="Contact" rows="1"></textarea>
    </div>
    <input class="btn btn-success" class="btn btn-danger m-1" value="Add" />
    <a class="btn btn-primary" role="button" asp-controller="Admin" asp-action="GetClinic">Cancel</a>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}