@model MedicineModel

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}
<div align="center">
    <h4>Are you sure you want to remove the medicine?</h4>
    <h2>@Model.NameOfMedicine</h2>
</div>
<form align="center" asp-controller="Admin" asp-action="DeleteMedicine" method="post" asp-route-id="@Model.Id">
    <div>
        <input type="submit" class="btn btn-danger" value="Delete" />
        <a class="btn btn-primary" role="button" asp-controller="Admin" asp-action="GetMedicines">Cancel</a>
    </div>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}