@model MedicineModel

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}
<div class="text-center">
    <h4>Edit medicine</h4>
    <h1>@Model.NameOfMedicine</h1>
</div>
<form asp-controller="Admin" asp-action="EditMedicine" method="post">
    <div class="mb-3">
        <label for="NameOfMedicine" class="form-label">Medicine name:</label>
        <input asp-for="NameOfMedicine" type="text" class="form-control" id="NameOfMedicine" value="@Model.NameOfMedicine" required />
        <span asp-validation-for="NameOfMedicine" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="LinkToInstructions" class="form-label">Link to instruction:</label>
        <input asp-for="LinkToInstructions" type="text" class="form-control" id="LinkToInstructions" value="@Model.LinkToInstructions" />
    </div>
    <input type="submit" class="btn btn-success" value="Edit" />
    <a class="btn btn-primary" role="button" asp-controller="Admin" asp-action="GetMedicines">Cancel</a>
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}