@model DiseaseModel

@{
    ViewData["Title"] = "Add disease";
    Layout = "_Layout";
}

<div>
    <h2 class ="text-center">Add disease</h2>

    <form asp-controller="DiseaseHistory" asp-action="CreateDisease" method="post">
        <div class="mb-3">
            <label for="NameOfDisease" class="form-label">Name of disease:</label>
            <input asp-for="NameOfDisease" type="text" class="form-control" id="NameOfDisease" required />
            <span asp-validation-for="NameOfDisease" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ShotDescriptionDisease" class="form-label">Short description of disease:</label>
            <textarea asp-for="ShotDescriptionDisease" class="form-control" id="ShotDescriptionDisease" rows="2"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Add" />
            <a class="btn btn-primary" asp-controller="DiseaseHistory" asp-action="Create">Back</a>
        </div>
    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
